
<h2>Google CPC Crawling Download</h2>
<%= form_tag(controller: "crawler", action: "download", format: "csv", crawling_type: "google") do %>
	<div class="field">
		<label>crawling_start_time: </label>
		<select name="start_time" id="start_time">
			<%=  options_for_select(@crawling_google.group(:start_time).collect{ |tuple| [tuple[:start_time], tuple[:start_time]] })%>
		</select>
		<%= submit_tag("Download") %>
	</div>
<% end %>
</br>
<h2>Naver CPC Crawling Download</h2>
<%= form_tag(controller: "crawler", action: "download", format: "csv", crawling_type: "naver") do %>
	<div class="field">
		<label>crawling_start_time: </label>
		<select name="start_time" id="start_time">
			<%=  options_for_select(@crawling_naver.group(:start_time).collect{ |tuple| [tuple[:start_time], tuple[:start_time]] })%>
		</select>
		<%= submit_tag("Download") %>
	</div>
<% end %>

<%= link_to 'Back', crawler_path %>
