<h1>New Crawler</h1>

<%= form_tag(controller: "crawler", action: "create", type: "google_cpc") do %>

	<div class="field">	
		<%CrawlingGoogle.column_names.each do |column_name| %>
			<% if column_name.start_with?('_') %>
				<input type="checkbox" name=<%= column_name %> value=true><%= column_name[1..-1] %></br>
			<% end %>
		<% end %>
	</div>

	<div class="field">
		<label>keyword_list<label/><br>
		<textarea name="keyword_list"></textarea>
	</div>
	<div class="field">
		<label>deny_list<label/><br>
		<textarea name="deny_list"></textarea>
	</div>
	<div class="field">
		<%= submit_tag("크롤러 시작 ") %>
	</div>																
<% end %>

<%= link_to 'Back', crawler_path %>
